@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");'
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #c4d4f2;
    --branco: #c9c9c9;
    --laranja: #f7db05;
    --azul-degrade: linear-gradient(97.54deg,#007edb 35.49%, #1883c9 165.37%);
    --fonte-principal: "Poppins";
    --azul:##00c4eb;
    --fonte-secundario:"Josefin Sans" Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">;
    --preto: #07f74f;
    --cinza: 6f6e6e
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
